*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@font-face{
    font-family: Roboto-Slab;
    src: url(../Fonts/RobotoSlab-VariableFont_wght.ttf)
}

@font-face{
    font-family: Monsieur;
    src: url(../Fonts/MonsieurLaDoulaise-Regular.ttf)
}

@font-face{
    font-family: AlexBrush;
    src: url(../Fonts/AlexBrush-Regular.ttf)
}


:root{
    --main_colour: rgb(136, 134, 134);
    --border-1: rgba(228, 9, 20, 0.616);
    --border-2:#6214ffe5;
    --background_colour: rgb(255, 255, 255);
    --text_colour: rgb(75, 73, 73);
}

html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    color: rgb(2, 2, 2);
    background-color: var(--background_colour);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Landing Page */


/* Contents Pages */

.header{
    overflow: hidden;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    z-index: 9999;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 140%;   
}

.header h1{
    font-size: 60px;
    font-family: AlexBrush, cursive;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
    font-size: 75%;
}

nav a {
    background-color: unset;
    color: rgb(99, 96, 96);
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    margin: 20px;
}

nav a:hover{
    border-color: var(--border-1);
    box-shadow: 0px 3px 5px 1px var(--border-2);    
    text-decoration: none;
    color: var(--border-2);
}

.selector{
    margin-bottom: 20px;
}


.container{
    position: relative;
    top: -100px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageStyle{
    width: 60%;
  
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.divContainer{
    margin: 50px;
    width: 70%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.aboutHeading{
    width: 100%;
}

.aboutTextDiv{
    width: 40%;
    margin: 40px;
}

.aboutTextDiv p{
    line-height: 1.6;
}

.aboutImg{
    width: 250px;
    margin: 40px;
}

.aboutImgDiv{
    margin: 40px;
    width: 40%;
    
}

.img-style{
    width: 100%;
    box-shadow: -50px -50px 0 -40px var(--border-1), 50px 50px 0 -40px var(--border-2); 
}





.divContainer2{
    width: 70%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skillsHeading{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.skillsImg{
    width: 180px;
    margin: 40px;
}

.skillsTextDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.skillsTextDiv h1{
    font-size: 20px;
    font-family: Roboto-Slab, Arial, Helvetica, sans-serif;
    margin: 20px;
    color: var(--border-1);
}


.skillsAlign{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skillsAlign p{
    margin: 10px;
}



.projectHeading{
    width: 100%;
}

.projectsImg{
    float: right;
    width: 250px;
    margin: 40px;
}

.projectTextDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.projectTextDiv a{
    cursor: pointer;
    text-decoration: none;
}

.projectTextDiv a:hover{
    transform: scale(1.04);
}

.projectType{
    margin-bottom: 30px;
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: var(--border-2);
}

.projectMain{
    font-family: Roboto-Slab, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: rgb(170, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 250px;
    height: 400px;
    margin: 40px
}

.projectMain:hover{
    background-color: rgb(240, 228, 252);
}

.projectMain h1{
    margin: 30px;
    font-size: 20px;
}

.project{
    font-family: Roboto-Slab, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: rgb(170, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    min-width: 250px;
    height: 330px;
    margin: 15px
}

.project h1{
    margin: 30px;
    font-size: 15px;
}

.project p{
    position: relative;
    top: -20px;
    font-size: 10px;
}

.imageContainer{
    width: 100%;
    border-radius: 4px;
}

.imageContainer img{
    height: 70%;
    width: 90%;
    margin: 10px
}

.imageContainerSmall{
    width: 100%;
    border-radius: 4px;
}

.imageContainerSmall img{
    border-radius: 2px;
    height: 70%;
    width: 90%;
    margin: 10px
}



main ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    
}

main li{
    border-radius: 3px;
    text-decoration: none;
    margin: 10px;
    color: var(--border-2)
}

.contactMe{
    color: white;
    text-decoration: none;
}

.contactPhone{
    color: white;
}

.contactMe:hover{
    color: var(--border-1);
    text-decoration: none;
}

footer{
    color: white;
    margin: 50px;
    font-family: Monsieur, "Snell Roundhand", cursive;
    font-size: 250%;
}

@media screen and (max-width: 1142px){
    .divContainer{
        flex-direction: column;
        width: 90%;
    }

    .divContainer2{
        width: 90%;
    }

    .aboutTextDiv{
        width: 70%;
        text-align: center;
        font-size: 12px;
    }

    .aboutImgDiv{
        width: 70%
    }

    .aboutHeading{
        display: flex;
        justify-content: center;
    }

    .projectHeading{
        display: flex;
        justify-content: center;
    }

    .projectImg{
        float: none;
    }
}

@media screen and (max-width: 890px){
    .projectTextDiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 875px){
    .projectMain{
        height: auto
    }

    .project{
        height: auto
    }
}

@media screen and (max-width: 366px){
    .projectMain{
        min-width: 200px
    }

    .project{
        min-width: 200px

    }
}

