*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

@font-face{
    font-family: Roboto-Slab;
    src: url(../Fonts/RobotoSlab-VariableFont_wght.ttf)
}

@font-face{
    font-family: Monsieur;
    src: url(../Fonts/MonsieurLaDoulaise-Regular.ttf)
}

@font-face{
    font-family: AlexBrush;
    src: url(../Fonts/AlexBrush-Regular.ttf)
}


:root{
    --main_colour: rgb(136, 134, 134);
    --border-1: rgba(228, 9, 20, 0.616);
    --border-2:#6214ffe5;
    --background_colour: rgb(255, 255, 255);
    --text_colour: rgb(75, 73, 73);
}

html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    color: rgb(2, 2, 2);
    background-color: var(--background_colour);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Landing Page */


/* Contents Pages */

.header{
    overflow: hidden;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    z-index: 9999;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 0 auto;
    padding: 1.2rem;
    text-align: left;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 140%;   
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    margin-left: 5rem;
}

.link{
    font-size: 1.2rem;
    font-weight: 200;
    color: #000000;
}

.link:hover{
    color: var(--border-1);
}

.logo {
    font-size: 60px;
    font-weight: 500;
    color: black;
    font-family: AlexBrush, cursive;
}

.menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.menu.active {
    left: 0;
}

.item {
    margin: 1.5rem;
}

.menuBars {
    display: block;
    cursor: pointer;
}

.menuBars.active .bar:nth-child(2) {
    opacity: 0;
}

.menuBars.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menuBars.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.selector{
    margin-bottom: 40px;
}



.container{
    position: relative;
    top: -100px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageStyle{
    width: 60%;
  
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.divContainer{
    margin: 50px;
    width: 70%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.aboutHeading{
    width: 100%;
}

.aboutTextDiv{
    width: 40%;
    margin: 40px;
}

.aboutTextDiv p{
    line-height: 1.6;
}

.aboutImg{
    width: 250px;
    margin: 40px;
}

.aboutImgDiv{
    margin: 40px;
    width: 40%;
    
}

.img-style{
    width: 100%;
    box-shadow: -50px -50px 0 -40px var(--border-1), 50px 50px 0 -40px var(--border-2); 
}



.skillsHeading{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.skillsImg{
    width: 180px;
    margin: 40px;
}

.skillsTextDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.skillsTextDiv h1{
    font-size: 20px;
    font-family: Roboto-Slab, Arial, Helvetica, sans-serif;
    margin: 20px;
    color: var(--border-1);
}


.skillsAlign{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.skillsAlign p{
    margin: 10px;
}



.projectHeading{
    width: 100%;
}

.projectsImg{
    float: right;
    width: 250px;
    margin: 40px;
}

.projectTextDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.projectTextDiv a{
    cursor: pointer;
    text-decoration: none;
}

/* .projectTextDiv a:hover{
    transform: scale(1.04);
} */

.projectType{
    margin-bottom: 30px;
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: var(--border-2);
}

.projectMain{
    font-family: Roboto-Slab, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: rgb(170, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    min-width: 250px;
    height: 400px;
    margin: 40px;
    overflow: hidden;
}



.projectMain h1{
    margin: 30px;
}

.project{
    font-family: Roboto-Slab, Arial, Helvetica, sans-serif;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: rgb(170, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    min-width: 250px;
    height: 330px;
    margin: 15px;
    overflow: hidden;
}

.project p{
    position: relative;
    top: -20px;
}

.imageContainer{
    margin-top: 30em;
    width: 100%;
    border-radius: 4px;
}

.projectDescription{
    margin-top: 20em;
}

.projectDescription2{
    margin-top: 25em;
}

.imageContainer img{
    height: 70%;
    width: 90%;
    margin: 10px
}

.imageContainerSmall{
    margin-top: 30em;
    width: 100%;
    border-radius: 4px;
}

.imageContainerSmall img{
    border-radius: 2px;
    height: 70%;
    width: 90%;
    margin: 10px
}

.imageContainerSmall2{
    margin-top: 34em;
    width: 100%;
    border-radius: 4px;
}

.imageContainerSmall2 img{
    border-radius: 2px;
    height: 70%;
    width: 90%;
    margin: 10px
}

.project .imageContainerSmall{
    transition: 0.3s;
}

.project:hover .imageContainerSmall{
    margin-top: -40em;
}

.project .imageContainerSmall2{
    transition: 0.3s;
}

.project:hover .imageContainerSmall2{
    margin-top: -40em;
}

.projectMain .imageContainer{
    transition: 0.3s;
}

.projectMain:hover .imageContainer{
    margin-top: -40em;
}

.click{
    color: rgb(247, 96, 96);
    margin-top: 5px;
}




main ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    
}

main li{
    border-radius: 3px;
    text-decoration: none;
    margin: 10px;
    color: var(--border-2)
}

.contactMe{
    color: white;
    text-decoration: none;
}

.contactPhone{
    color: white;
}

.contactMe:hover{
    color: var(--border-1);
    text-decoration: none;
}

footer{
    color: white;
    margin: 50px;
    font-family: Monsieur, "Snell Roundhand", cursive;
    font-size: 250%;
}

@media screen and (max-width: 1142px){
    .divContainer{
        flex-direction: column;
        width: 90%;
    }


    .aboutTextDiv{
        width: 70%;
        text-align: center;
    }

    .aboutImgDiv{
        width: 70%
    }

    .aboutHeading{
        display: flex;
        justify-content: center;
    }

    .projectHeading{
        display: flex;
        justify-content: center;
    }

    .projectImg{
        float: none;
    }

}

@media screen and (max-width: 890px){
    .projectTextDiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 875px){
    .projectMain{
        height: 300px;
        
    }

    .aboutTextDiv{
        font-size: 12px;
    }
    .projectDescription{
        margin-top: 26em;
    }

    .projectDescription2{
        margin-top: 34em;
    }

    .imageContainer{
        margin-top: 35em;
    }

    .imageContainerSmall{
        margin-top: 38em;
    }

    .imageContainerSmall2{
        margin-top: 44em;
    }

    .project{
        height: 240px
    }


}

@media screen and (max-width: 430px){
    .logo{
        font-size: 40px;
    }
}

@media screen and (max-width: 366px){
    .projectMain{
        min-width: 200px;
        height: 250px
    }

    .project{
        min-width: 200px;
        height: 190px;

    }

    .projectDescription{
        margin-top: 15em;
        font-size: 10px;
    }

    .imageContainer{
        margin-top: 20em;
    }

    .imageContainerSmall{
        margin-top: 19em;
    }

    .imageContainerSmall2{
        margin-top: 17em;
    }

    .projectMain:hover .imageContainer{
        margin-top: -20em;
    }

    .project:hover .imageContainerSmall{
        margin-top: -19em;
    }

    .project:hover .imageContainerSmall2{
        margin-top: -13em;
    }
}


@media screen and (max-width: 302px){
    .logo{
        font-size: 30px;
    }
}